@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 768px;
}

.heading {
  font-weight: normal;
  font-size: 2em;
  text-align: center;
}

.blockWrapper {
  overflow: auto;
  zoom:1;
}

.block {
  @media screen and (width > 768px) {
    padding:10px;
    width:50%;
    float:left;
  }
}

.afterText {
  @media screen and (width > 768px) {
    padding:10px;
  }
}
