@import '../variables.css';

.root {
  margin:1em 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
  th, td {
    text-align: left;
    padding:5px;
    border: 1px solid #ddd;
  }
}

.active b,
.disabled b {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background: red;
  position: absolute;
  left:0;
  top:4px;
}

.active {
  position:relative;
  padding-left:15px;
  b {
    background:green;
  }
}

.disabled {
  padding-left:15px;
  position:relative;
  b {
    background:red;
  }
}

.configText {
  width:100%;
  min-height: 250px;
}
